body {
  font-family: sans-serif;
  padding: 0.5em;
}

.flash {
  max-width: 625px;
  padding: 10px 20px;
  /* margin: 20px auto 1.5em auto; */
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

.flash.info {
  color: #000000;
  background: #ffffad;
}

a.edit:before {
  content: '\270E';
}

button.delete:before {
  content: '\1F5D1';
}

ul li a.edit {
  text-decoration: none;
  color: black;
}

ul li [type="submit"].delete {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

form.inline {
  display: inline;
}

footer>div.auth-status {
  padding-top: 1em;
}