<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= @query %>">
  <button type="submit">Search</button>

  <% unless @query.empty? %>
  <div>
    <% if @results.empty? %>
    Sorry, no matches were found.
    <% else %>
      <h2 class="content-subhead">Results for <%= @query %></h2>
      <ul>
      <% @results.each do |result| %>
        <li><a href="/chapter/<%= result[:number] %>"><%= result[:name] %></a></li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
</form>