<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= @query %>">
  <button type="submit">Search</button>

  <% unless @query.empty? %>
  <div>
    <% if @results.empty? %>
    Sorry, no matches were found.
    <% else %>
      <ul>
      <% @results.each do |(number, name)| %>
        <li><a href="/chapter/<%= number %>">Ch. <%= number %> - <%= name %></a></li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
</form>