<h2><%== navigation_path(current_location) %></h2>
<% @entries.each do |entry| %>
<ul>
  <li>
    <a href="<%= entry.view_href %>"><%= entry.name %></a><% if entry.edit_href %> [ <a href="<%= entry.edit_href %>">Edit</a> ]<% end %>
  </li>
</ul>
<% end %>