<form method="post">
  <h2>
    <label for="file_content">Edit <%= @edit_path %> content:</label>
  </h2>
  <div>
    <textarea id="file_content" name="file_content" rows="20" cols="100"><%= @file_content %></textarea>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>