<!doctype html>
<html lang="en-US">
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-3.6.2.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Neato CMS</h1>
    </header>
    <% if session[:error] %>
    <div class="flash error">
      <%== session_flash_messages(session.delete(:error)) %>
    </div>
    <% elsif session[:success] %>
    <div class="flash success">
      <%== session_flash_messages(session.delete(:success)) %>
    </div>
    <% end %>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
