<!doctype html>
<html lang="en-US">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/file_content_html.css">
  </head>
  <body>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
