<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>
</head>

<body>
  <%= yield %>
  <hr>
  <div>
    There are <%= @user_stats[:count] %> users with a total of <%= @user_stats[:interest_count] %> interests.
  </div>
</body>
</html>
